@font-face {
    font-family: 'con';
    src: url('./fonts/xeicon.ttf') format('truetype');
}
@font-face {
    font-family: 'mg';
    src: url('./fonts/malgun.ttf') format('truetype');
}
@font-face {
    font-family: 'nsr';
    src: url('./fonts/NanumSquareR.ttf') format('truetype');
}
@font-face {
    font-family: 'nsl';
    src: url('./fonts/NanumSquareL.ttf') format('truetype');
}
@font-face {
    font-family: 'scd1';
    src: url('./fonts/SCDream1.ttf') format('truetype');
}
@font-face {
    font-family: 'scd2';
    src: url('./fonts/SCDream2.ttf') format('truetype');
}
html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
    font-family: 'nsr';
    overflow-x: hidden;
}
/* 공통 이미지 */
.image{
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* 공통 페이징버튼 */
.sdBtn{
    display: flex;
    right: 200px;
    top: -0px;
}
.sdBtn span{
    font-family: 'con';
    line-height: 8px;
    font-size: 16px;
    cursor: pointer;
}
.sdBtn span:nth-child(2){
    display: none;
}
.sdBtn .paging{
    display: flex;
}
.sdBtn .paging li{
    width: 8px;
    height: 8px;
    border: 0.5px solid #686868;
    background-color: #adc0c0;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.sdBtn .paging li.on{
    background-color: #276de2;
}
/* 헤더 */
.hdrWrap{
    position: fixed;
    width: 100%;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 10;
    transition: all 0.5s cubic-bezier(0.51, 0.02, 0.14, 0.98);
}
.hdrWrap header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.hdrWrap .hdrTop{
    margin-top: 20px;
    display: flex;
}
.hdrWrap .logo{
    color: transparent;
    width: 160px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/logo1.png');
    cursor: pointer;
}
.hdrWrap .logo a{
    width: 100%;
    height: 100%;
    display: block;
}
.hdrWrap .info{
    padding-left: 20px;
    display: flex;
    line-height: 60px;
    font-weight: 700;
}
.hdrWrap .info h4{
    font-size: 18px;
    cursor: pointer;
}
.hdrWrap .info h4:nth-child(1){
    margin-right: 20px;
    position: relative;
}
.hdrWrap .info h4:nth-child(1)::after{
    content: '';
    position: absolute;
    right: -10px;
    top: 11px;
    width: 2px;
    height: 53%;
    background-color: #d9d9d9;
}
.hdrWrap .info .btn{
    font-size: 13px;
    margin-left: 30px;
    color: #61ffec;
    background-color: #000;
    border-radius: 15px;
    padding: 3px 10px;
    height: 30px;
    line-height: 25px;
    margin-top: 13px;
    cursor: pointer;
}
.hdrWrap .hdrTop ul{
    margin-left: auto;
    display: flex;
    line-height: 60px;
}
.hdrWrap .hdrTop ul li{
    font-size: 13px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}
.hdrWrap .hdrTop ul li:nth-last-child(1)::before{
    display: none;
}
.hdrWrap .hdrTop ul li::before{
    content: '';
    position: absolute;
    right: -10px;
    top: 20px;
    width: 2px;
    height: 30%;
    background-color: #d9d9d9;
}
.hdrWrap .hdrBtm{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}
.hdrWrap .hdrBtm ul{
    width: calc(100% / 12 * 8.5);
    display: flex;
    justify-content: space-between;
}
.hdrWrap .hdrBtm ul li{
    line-height: 70px;
    font-weight: 700;
    cursor: pointer;
}
form{
    position: relative;
    width: calc(100% / 12 * 3);
    margin-top: 10px;
}
.hdrWrap .ser{
    border: 2px solid #787878;
    border-radius: 10px;
    padding: 14px 20px;
    height: 50px;
    font-size: 17px;
}
.hdrWrap input:nth-child(2){
    position: absolute;
    right: 17px;
    top: 10px;
    border: 0;
    font-family: 'con';
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

/* 메인 */
.mainWrap{
    height: 100vh;
    background-color: #c8e7e6;
    transition: all 0.6s 0.2s cubic-bezier(1,0,.5,1);
}
main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding-top: 200px;
}
.mainTop{
    overflow: hidden;
}
.mainTop .group{
    display: flex;
    width: 600%;
    transition: all 0.6s 0.2s cubic-bezier(1,0,.5,1);
}
.mainTop .slide{
    width: calc(100% / 6);
    position: relative;
}
.mainTop .slide .texts{
    padding-left: calc(100% / 12);
    padding-top: 80px;
    padding-bottom: 80px;
}
.mainTop .slide .texts h4{
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.mainTop .slide .texts h3{
    font-size: 36px;
    line-height: 40px;
    font-family: 'mg';
    margin-top: 20px;
    font-weight: 700;
}
.mainTop .slide .texts p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}
.mainTop .slide .texts .btn{
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 13px 0px;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    width: calc(100% / 12 * 1.5);
    cursor: pointer;
    margin-top: 40px;
}
.mainTop .slide .texts .btn span{
    font-family: 'con';
    margin-left: 5px;
}
.mainTop .slide .image{
    position: absolute;
    right: 0;
    width: 400px;
    height: 400px;
    bottom : -120%;
    opacity: 0;
    transition: all 0.5s 0.9s;
}
.mainTop .slide .image.in{
    bottom : 0;
    opacity: 1;
}
.out{
    bottom : -100%;
    opacity: 0;
}
.mainTop .slide .image.i1{
    background-image: url('../images/main01.png');
}
.mainTop .slide .image.i2{
    background-image: url('../images/main02.png');
}
.mainTop .slide .image.i3{
    background-image: url('../images/main03.png');

}
.LRbtn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: -43px;
    width: 108%;
    margin: auto;
    height: 54px;
    z-index: 5;
}
.LRbtn .image{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: left;
    background-image: url('../images/LRbtn.png');
    cursor: pointer;
}
.LRbtn .image:last-child{
    background-position: right;
}
.mainBtm{
    padding: 40px calc(100% / 12);
    position: relative;
    z-index: 0;
    margin-top: 60px;
}
.mainBtm::before{
    position: absolute;
    content: '';
    display: block;
    width: 100vw;
    margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
    left: 0;
    height: 600px;
    background-color: #fdf6d2;
    bottom: -200px;
    z-index: -1;
    clip-path: polygon(0 33%, 100% 0, 100% 100%, 0 71%);
}
.mainBtm>.sdBtn{
    position: absolute;
    z-index: 5;
    right: 200px;
    top: -0px;
}
.mainBtm .menu{
    display: flex;
    justify-content: space-between;
}
.mainBtm .menu li{
    width: calc(100% / 6);
    border-right: 2px solid #d9d9d9;
    cursor: pointer;
}
.mainBtm .menu li:last-child{
    border: 0;
}
.mainBtm .menu li h4{
    line-height: 40px;
    font-size: 17px;
    text-align: center;
}
.mainBtm .menu li .image{
    width: 44px;
    height: 44px;
    margin: 0 auto;
}
.mainBtm .menu li .image.i1{
    background-image: url('../images/icon01.png');
}
.mainBtm .menu li .image.i2{
    background-image: url('../images/icon02.png');
}
.mainBtm .menu li .image.i3{
    background-image: url('../images/icon03.png');
}
.mainBtm .menu li .image.i4{
    background-image: url('../images/icon04.png');
}
.mainBtm .menu li .image.i5{
    background-image: url('../images/icon05.png');
}
.mainBtm .menu li .image.i6{
    background-image: url('../images/icon06.png');
}
.mainBtm .scbtn{
    margin: 0 auto;
    width: 20px;
}
.mainBtm .scbtn .image{
    width: 100%;
    height: 40px;
    background-image: url('../images/mouse.png');
}
.mainBtm .scbtn h5{
    font-family: 'con';
    font-size: 20px;
    animation-name: move;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%{
        transform: translate(0%, 0%);
    }
    50%{
        transform: translate(0% ,20%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}

/* 컨텐츠 공통 */
.cntWrap{
    height: 100vh;
}
.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 150px;
}
.content header h2{
    font-size: 40px;
    line-height: 45px;
    color: #0473ea;
}
.content header h2::after{
    content: '';
    display: inline-block;
    width: 80px;
    height: 30px;
    background-size: contain;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('../images/h2.png');
}

/* 컨텐츠1 */
.cntWrap:nth-child(3){

}
.cnt01{
    transform: translateY(0);
}
.cnt01 section{
    display: flex;
    margin-top: 80px;
}
.cnt01 article{
    width: calc(100% / 4);
    margin: 0px 10px;
    opacity: 0;
}
.show{
    animation: showup 1s;
    animation-fill-mode: forwards;
    transform: translateY(200px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes showup {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes showdown {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(200px);
    }
    
}
.cnt01 article:nth-child(1){
    animation-delay: 0.1s;
}
.cnt01 article:nth-child(2){
    animation-delay: 0.2s;
}
.cnt01 article:nth-child(3){
    animation-delay: 0.3s;
}
.cnt01 article:nth-child(4){
    animation-delay: 0.4s;
}
.cnt01 article .image{
    height: 250px;
    border-radius: 25px;
}
.cnt01 article .image.i1{
    background-image: url('../images/ev01.jpg');
}
.cnt01 article .image.i2{
    background-image: url('../images/ev02.jpg');
}
.cnt01 article .image.i3{
    background-image: url('../images/ev03.jpg');
}
.cnt01 article .image.i4{
    background-image: url('../images/ev04.jpg');
}
.cnt01 article .texts{
    margin-top: 40px;
    text-align: center;
}
.cnt01 article h3{
    font-size: 23px;
    line-height: 40px;
    font-weight: 700;
}
.cnt01 article h5{
    font-size: 16px;
    line-height: 30px;
}
.cnt01 article p{
    font-size: 18px;
    line-height: 20px;
    word-break: keep-all;
    margin-top: 20px;
}
/* 컨텐츠2 */
.cntWrap:nth-child(4){
    background-color: #dcecf4;;
}
.cnt02 header{
    display: flex;
    justify-content: space-between;
}
.cnt02 header .btn{
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    padding: 20px 70px 20px 50px;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}
.cnt02 header .btn::after{
    content: '';
    font-family: 'con';
    font-size: 20px;
    color: #fff;
    background-color: #0473ea;
    border-radius: 50%;
    padding: 2px;
    right: 20px;
    position: absolute;
}
.cnt02 header .btn span{
    color: #0473ea;
}
.cnt02 section{
    margin-top: 80px;
}
.cnt02 .artTop{
    display: flex;
}
.cnt02 h3{
    line-height: 80px;
    font-size: 36px;
    font-family: 'scd2';
}
.cnt02 .artLeft{
    width: calc(100% / 12 * 8);
    position: relative;
}
.cnt02 .artLeft .sdBtn li{
    cursor: not-allowed;
}
.cnt02 .textView{
    overflow: hidden;
    height: 280px;
}
.cnt02 .textView .texts{
    display: none;
}
.cnt02 .textView .texts.on{
    display: block;
}
.cnt02 .textView h4{
    font-size: 18px;
    margin-top: 20px;
}
.cnt02 .textView h3{
    font-size: 28px;
    font-weight: 700;
    margin-top: 30px;
}
.cnt02 .textView ul li{
    font-size: 18px;
    line-height: 30px;
}
.cnt02 .imgView{
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 300px;
}
.cnt02 .imgGroup{
    display: flex;
    width: 200%;
}
.cnt02 .imgGroup .image{
    width: calc(100% / 6);
    height: 160px;
    transform: scale(0.5) rotate(-60deg);
    opacity: 0;
    transition: all 0.7s cubic-bezier(.58,0,.01,.99) ;
    box-shadow: -6px 7px 6px #24242466;
    border-radius: 10px;
}
.cnt02 .imgGroup .image.i1 , .image.i4{
    background-image: url('../images/cd01.png');
}
.cnt02 .imgGroup .image.i2 , .image.i5{
    background-image: url('../images/cd02.png');
}
.cnt02 .imgGroup .image.i3 , .image.i6{
    background-image: url('../images/cd03.png');
}

.cnt02 .imgGroup .image.third{
    transform: scale(0.6) rotate(-60deg) translate(0px, -130%);
    opacity: 1;
}
.cnt02 .imgGroup .image.second{
    transform: scale(0.9) rotate(-60deg) translate(0px, 33%);
    opacity: 1;
    z-index: 3;
}
.cnt02 .imgGroup .image.first{
    transform: scale(1.5) rotate(-60deg);
    opacity: 1;
    z-index: 5;
}
.cnt02 .imgGroup .image.fourth{
    transform: scale(0.6) rotate(-60deg) translate(-30%, -300%);
}
.cnt02 .artRight{
    width: calc(100% / 12 * 4);
}
.cnt02 .artRight .view{
    width: 100%;
    overflow: hidden;
}
.cnt02 .artRight .Group{
    width: 200%;
    display: flex;
}
.cnt02 .artRight .slide{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.cnt02 .artRight .text h3{
    font-size: 20px;
    font-family: 'nsr';
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
}
.cnt02 .artRight .text p{
    font-size: 16px;
    line-height: 20px;
}
.cnt02 .artRight .image{
    width: 150px;
    height: 90px;
    margin-top: 25px;
}
.cnt02 .artRight .image.i1{
    background-image: url('../images/cd04.png');
}
.cnt02 .artRight .image.i2{
    background-image: url('../images/cd05.png');
}
.cnt02 .artRight .image.i3{
    background-image: url('../images/cd06.jpg');
}
.cnt02 .artBtm {
    margin-top: 80px;
    position: relative;
}
.cnt02 .artBtm ul {
    display: flex;
}
.cnt02 .artBtm li{
    width: calc(100% / 5);
    font-size: 20px;
    height: 60px;
    padding: 20px 0px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    cursor: pointer;
    position: relative;
}
.cnt02 .artBtm a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    cursor: pointer;
    z-index: 3;
    top: 0;
}
.cnt02 .artBtm .box{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 5);
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    mix-blend-mode: difference;
    transition: left 0.5s cubic-bezier(0.15, 0, 0.06, 0.98);;
}
/* 컨텐츠3 */
.cnt03 section{
    margin-top: 80px;
}
.cnt03 .tab{
    position: relative;
}
/* 왼쪽 */
.cnt03 .tab li:nth-child(odd){
    width: calc(100% / 12 * 5);
    display: flex;
    padding: 20px 0px 20px 40px;
    color: #333;
    cursor: pointer;
}
.cnt03 .tab li:nth-child(odd).on{
    background-color: #ef4b49;
    color: #fff;
    z-index: 1;
}
.cnt03 .tab h5{
    font-family: 'scd2';
    font-size: 50px;
    line-height: 50px;
}
.cnt03 .tab h3{
    font-size: 18px;
    line-height: 25px;
    margin-left: 20px;
}
/* 오른쪽 */
.cnt03 .tab li:nth-child(even){
    position: absolute;
    right: 0;
    width: calc(100% / 12 * 7);
    padding: 20px 0px 20px calc(100% / 12);
    height: 0;
    top: -80px;
    opacity: 0;
}
.cnt03 .tab li:nth-child(even) .texts{
    display: flex;
    cursor: pointer;
}
.cnt03 .tab li:nth-child(even).on{
    opacity: 1;
}
.cnt03 .tab li:nth-child(even).on .texts{
    animation: txt 0.4s cubic-bezier(0.28, 0.01, 0.4, 0.99); 
    animation-fill-mode: backwards;
}
@keyframes txt {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.cnt03 .tab .texts{
    margin-top: 60px;
}
.cnt03 .tab li.on .texts:nth-child(1){
    animation-delay: 0.1s;
}
.cnt03 .tab li.on .texts:nth-child(2){
    animation-delay: 0.2s;
}
.cnt03 .tab li.on .texts:nth-child(3){
    animation-delay: 0.3s;
}
.cnt03 .tab li.on .texts:nth-child(4){
    animation-delay: 0.4s;
}
.cnt03 .tab li:nth-child(even).on::before{
    background-color: rgba(0, 0, 0, 0.034);
    position: absolute;
    content: '';
    display: block;
    width: 114%;
    height: 525px;
    top: 0;
    left: -24px;
    right: 0;
    z-index: -1;
}
.cnt03 .tab .icon{
    width: 30px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/cnt3.png');
}
.cnt03 .tab .text{
    margin-left: 20px;
}
.cnt03 .tab h4{
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
}
.cnt03 .tab h4::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    font-family: 'con';
    margin-left: 10px;

}
.cnt03 .tab h4:nth-child(2)~h4{
    margin-top: 60px;
}
.cnt03 .tab p{
    font-size: 14px;
    font-family: 'mg';
    color: #888;
}
/* 컨텐츠4 */
.cnt04 section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.cnt04 .artLeft{
    width: calc(100% / 12 * 7);
}
.cnt04 .artTop{
    display: flex;
}
.cnt04 .artTop h4{
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.cnt04 .artTop h4::after{
    position: absolute;
    content: '';
    font-family: 'con';
    margin-left: auto;
    right: 0;
}
.cnt04 .artTop ul{
    margin-top: 20px;
}
.cnt04 .artTop li{
    font-size: 16px;
    font-family: 'mg';
    line-height: 40px;
    font-weight: 700;
    position: relative;
}
.cnt04 .artTop li h5{
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cnt04 .artTop li:first-child::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/ico_new.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    top: 13px;
}
.cnt04 .news{
    width: calc(100% / 8 * 3.5);
    margin-right: 20px;
}
.cnt04 .customer{
    width: calc(100% / 8 * 3.5);
}
.cnt04 .artBtm{
    margin-top: 110px;
}
.cnt04 .artBtm ul{
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.cnt04 .artBtm li{
    width: 50%;
    display: flex;
    padding: 20px 0px 20px 30px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    
}
.cnt04 .artBtm h3{
    font-size: 18px;
    line-height: 40px;
    margin-left: 20px;
    font-weight: 700;
}
.cnt04 .artBtm .image{
    width: 40px;
    height: 40px;
}
.cnt04 .artBtm .image.i1{
    background-image: url('../images/ico_main_link_01.png');
}
.cnt04 .artBtm .image.i2{
    background-image: url('../images/ico_main_link_02.png');
}
.cnt04 .artBtm .image.i3{
    background-image: url('../images/ico_main_link_03.png');
}
.cnt04 .artBtm .image.i4{
    background-image: url('../images/ico_main_link_04.png');
}
.cnt04 .artRight{
    width: calc(100% / 12 * 4);
}
.cnt04 .artRight ul{
    width: 310px;
    height: 460px;
    background-image: url('../images/bg_blue_link.png');
}
.cnt04 .artRight li{
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
}
.cnt04 .artRight .image{
    width: 100%;
    height: 263px;
    background-image: url('../images/blue01.png');
    cursor: pointer;
}
/* 푸터 */
.ftrWrap{
    background-color: #2a2a2d;
}
footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #999;
}
footer ul{
    display: flex;
}
footer li{
    font-size: 13px;
    height: 60px;
    padding: 30px 0px;
    margin-right: 20px;
    font-weight: 700;
}
footer li:nth-child(3)~li{
    color: #fff;
}
footer .ftrBtm{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 40px;
}
footer .logo{
    width: calc(100% / 12 * 2);
    color: transparent;
    width: 180px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/logo2.png');
}
footer .info{
    font-size: 13px;
    font-family: 'mg';
    line-height: 20px;
    margin-top: 16px;
    margin-left: 40px;
    margin-right: auto;
}
footer .cs{
    color: transparent;
    width: 200px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/cs.png');
}
